<!DOCTYPE html>
<html>
<head>
  <title>C</title>
  <%= stylesheet_link_tag    "custom"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modernizr-1.5.min" %>
  <%= javascript_include_tag "prefixfree.min" %>
  <%= javascript_include_tag "jquery-1.8.2.min" %>
  <%= csrf_meta_tags %>
</head>


<%= yield %>


</html>
